<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

  </head>
  <style>body { background: #007bff; background: linear-gradient(to right,
    #08408a, #33AEFF); } .card-img-left { width: 35%; /* Link to your background
    image using in the property below! */ background: scroll center
    url('https://source.unsplash.com/WEQbe2jBg40/414x512'); background-size:
    cover; } .btn-login { font-size: 0.9rem; letter-spacing: 0.05rem; padding:
    0.75rem 1rem; } .btn-google { color: white !important; background-color:
    #ea4335; } .btn-facebook { color: white !important; background-color:
    #3b5998; } body{margin: 0px; padding: 0px; }
  </style>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-8 mx-auto">
          <div
            class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden"
          >
            <div class="card-img-left d-none d-md-flex">
              <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body p-4 p-sm-5">
              <h1 class="card-title text-center mb-5 fw-light fs-10">Log in</h1>

              <span class="text-danger">{{err}}</span>

              <form action="userLogin" method="post">

                <div class="form-floating mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="floatingInputEmail"
                    name="email"
                    placeholder="name@example.com"
                  />
                  <label for="floatingInputEmail">Email address</label>
                </div>

                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="floatingPassword"
                    name="pass"
                    placeholder="Password"
                  />
                  <label for="floatingPassword">Password</label>
                </div>

                <br />

                <div class="d-grid mb-2">
                  <button
                    class="btn btn-lg btn-primary btn-login fw-bold text-uppercase"
                    type="submit"
                  >Register</button>
                </div>

                <a
                  style="text-decoration:none;"
                  class="d-block text-center mt-2 small"
                  href="/"
                >Have an account? Register </a>

                {{! <hr class="my-4" /> }}

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>