<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <style>
    body { background-image: linear-gradient(rgb(24, 100, 187), rgb(185, 233,
    225)); } form { width: 60%; margin: 120px auto; background: #efefef;
    padding: 60px 120px 80px 120px; text-align: center; -webkit-box-shadow: 2px
    2px 3px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); }
    label { display: block; position: relative; margin: 40px 0px; } .label-txt {
    position: absolute; top: -1.6em; padding: 10px; font-family: sans-serif;
    font-size: 0.8em; letter-spacing: 1px; color: rgb(120, 120, 120);
    transition: ease 0.3s; } .input { width: 100%; padding: 10px; background:
    transparent; border: none; outline: none; } .line-box { position: relative;
    width: 100%; height: 2px; background: #bcbcbc; } .line { position: absolute;
    width: 0%; height: 2px; top: 0px; left: 50%; transform: translateX(-50%);
    background: #11337c; transition: ease 0.6s; } .input:focus + .line-box .line
    { width: 100%; } .label-active { top: -3em; } button { display:
    inline-block; padding: 12px 24px; background: rgb(220, 220, 220);
    font-weight: bold; color: rgb(120, 120, 120); border: none; outline: none;
    border-radius: 3px; cursor: pointer; transition: ease 0.3s; } button:hover {
    background: #1d68be; color: #ffffff; }
  </style>
  <body>
    <form action="AddUser" method="post">
      <h1>Registration</h1>
      <br />
      <label>
        <p class="label-txt">ENTER YOUR NAME</p>
        <input type="text" class="input" name="name" />
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">ENTER YOUR EMAIL</p>
        <input type="text" class="input" name="email" />
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">ENTER YOUR PASSWORD</p>
        <input type="text" class="input" name="pass" />
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <button type="submit">submit</button><br /><br />
      <span class="text-success">{{msg}}</span>
    </form>
  </body>
</html>